@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fffcfc;
}
h1 {
  font-weight: 700;
  color: #333;
}
a {
  text-decoration: none;
}

a:hover {
  color: #333;
  transition: all 0.3s;
}

.js-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #333;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: start;
}
